<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">

    <div class="feed-message">
        <div class="control" style="margin-left: 10px; margin-right: 10px;">
            <!--<label for="leagueSearch">Search</label>-->
            <input ng-model="leagueSearch" type="text" class="form-control" style="width: 100%;" id="leagueSearch" placeholder="Enter a league ...">
        </div>
    </div>
    <div class="feed-message">
        <!-- selected -->
        <div ng-class="AllSelectedItems ? 'checkbox-success' : 'checkbox-warning'">
            <select-all-checkbox checkboxes="leagues" id="cbaMaster" all-selected="AllSelectedItems" all-clear="NoSelectedItems">
            </select-all-checkbox>
        </div>
        <!-- ./ selected -->
    </div>

    <div class="feed-message" ng-repeat="league in leagues | filter: leagueSearch">
        <div class="checkbox-info">
            <label class="checkbox-inline custom-checkbox nowrap" for={{league.author}}>
              <input type="checkbox" id="{{league.author}}" name="{{league.author}}" ng-model="league.isSelected" 
                  class="styled" aria-label="{{league.author}}"
                  ng-change="cbaChange(league)">  
                <span>{{league.author}}</span>
            </label>
        </div>
    </div>
</div>