/**
// reset button
*/
.btn.rst{
    transform: scale(1.2);
}


div.mm_table_list_wrapper {
  width: 100%;
  border: 1px solid #eee;
  border-bottom: none;
}

div.mm_table_list_undragable .mm_table_list:hover {
  cursor: pointer !important;
}

.mm_table_list {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.mm_table_list_header {
  padding: 0;
  font-weight: 600;
  line-height:40px;
}

.mm_table_list li {
  display: table-cell;
  min-height: 40px;
  height: 40px;
  padding: 0 5px;
  vertical-align: middle;
  overflow:hidden;
  font-weight:300;
}

.mm_table_list li.amount-padding{
  padding-right: 15px;
  text-align: right;
}

.mm_table_list:hover {
    background-color: 	rgba(238, 238, 238, 0.4);
}

// ul.mm_table_list {
//   display: table;
//   table-layout: fixed;
//   width: 100%;
//   padding: 5px 0;
//   margin: 0;
//   border-bottom: 1px solid #eee;
// }

// ul.mm_table_list_header {
//   padding: 0;
//   font-weight: 600;
//   line-height:40px;
// }

// ul.mm_table_list li {
//   display: table-cell;
//   min-height: 40px;
//   height: 40px;
//   padding: 0 5px;
//   vertical-align: middle;
//   overflow:hidden;
//   font-weight:300;
// }

// ul.mm_table_list li.amount-padding{
//   padding-right: 15px;
//   text-align: right;
// }

// ul.mm_table_list:hover {
//     background-color: 	rgba(238, 238, 238, 0.4);
// }

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding: 0;
  margin: 0
}

/**
 * From ui-grid.css
 */

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: white;
  border-bottom: 1px solid;
  border-color: #D6D6D6;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: white;
  border-bottom: 1px solid;
  border-color: #D6D6D6;
}
.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: #F6F6F6;
}
.ui-grid-top-panel {
  background: #f3f3f3;
}
.grid {
  height: 567px;
}
.ui-grid-header-cell .ng-binding:hover {
  text-decoration: underline;
}
.ui-grid-cell-contents {
  padding-left: 20px;
  padding-right: 20px;
}
.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: none;
}
.ui-grid-header-cell {
  border-right: 0px;
  background-color: white;
  border-color: #D6D6D6;
  font-weight: normal;
}
.ui-grid-header-cell .sortable {
  padding-right: 5px;
}
.ui-grid-cell {
  border-right: 0px;
}

/**
// clr-padding-start
*/
.clr-padding-start{
  -webkit-padding-start: 0px;
}
.clr-padding{
  padding-left: 0;
  padding-right: 0;
}