<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">

    <!--
    <div class="feed-message">
        <div class="control" style="margin-left: 10px; margin-right: 10px;">
            <label for="eventOddsSearch">Fucking Sh!t</label>

        </div>
    </div>-->


    <div class="feed-message">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchKeyword" placeholder="Search events ..." ng-model="searchString" ng-change="refresh()">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-primary rst btn-sm glyphicon glyphicon-search">Search</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-7" style="padding-right:10px;">
                    <div class="col-md-5 col-xs-offset-2">
                        <select class="form-control selectpicker" selectpicker title="Market place" ng-model="marketCriteria" ng-change="refresh()">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                      </select>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control selectpicker" selectpicker title="Standard Select">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                      </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- table -->
        <div class="mm_table_list_wrapper mm_table_list_undragable">
            <div class="row mm_table_list mm_table_list_header">
                <div class="col-lg-6 clr-padding">
                    <div class="col-lg-12 clr-padding">
                            <ul class="clr-padding-start">
                                <li class="col-md-2 clr-padding-start" ng-class="{ current: sortBy === 'type', asc: !reverse, desc: reverse}" ng-init="sortBy = 'type'" ng-click="sortTable('type')">type</li>
                                <li class="col-md-2">author</li>
                                <li class="col-md-2">surname</li>
                                <li class="col-md-2">header</li>
                                <li class="col-md-2">text</li>
                                <li class="col-md-2">time</li>
                            </ul>
                        </div>
                </div>
                <div class="col-lg-6 clr-padding">
                    <div class="col-lg-12 clr-padding">
                        <ul class="clr-padding-start">
                            <li class="col-md-2 clr-padding-start" ng-class="{ current: sortBy === 'type', asc: !reverse, desc: reverse}" ng-init="sortBy = 'type'" ng-click="sortTable('type')">type</li>
                            <li class="col-md-2">author</li>
                            <li class="col-md-2">surname</li>
                            <li class="col-md-2">header</li>
                            <li class="col-md-2">text</li>
                            <li class="col-md-2">time</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<div>
                <ul class="mm_table_list mm_table_list_header">
                    
                    <li class="col-md-6">
                        <div class="col-lg-12">
                            <ul class="clr-padding-start">
                                <li class="col-md-2" ng-class="{ current: sortBy === 'type', asc: !reverse, desc: reverse}" ng-init="sortBy = 'type'" ng-click="sortTable('type')">type</li>
                                <li class="col-md-2">author</li>
                                <li class="col-md-2">surname</li>
                                <li class="col-md-2">header</li>
                                <li class="col-md-2">text</li>
                                <li class="col-md-2">time</li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-md-6">
                        <div class="col-lg-12">
                            <ul class="clr-padding-start">
                                <li class="col-md-2" ng-class="{ current: sortBy === 'type', asc: !reverse, desc: reverse}" ng-init="sortBy = 'type'" ng-click="sortTable('type')">type</li>
                                <li class="col-md-2">author</li>
                                <li class="col-md-2">surname</li>
                                <li class="col-md-2">header</li>
                                <li class="col-md-2">text</li>
                                <li class="col-md-2">time</li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>-->
            <div style="padding:20px; text-align:center; border-bottom: 1px solid #eeeeee" ng-show="!eventOdds.length && !loading">{{LB_LOCATION_NO_DATA}}</div>

            <div ng-show="eventOdds.length && !loading" ui-tree="treeOptions" ui-tree-nodes ng-model="eventOdds">
                <div ui-tree="treeOptions" data-drag-enabled="false" ui-tree-nodes ng-model="eventOdds">
                    <div ui-tree-item ng-include="'nodes_renderer'" ng-repeat="
                                item in filtered = (
                                  eventOdds |
                                  filter: searchStringFilter |
                                  filter: marketFilter |
                                  orderBy: sortBy : reverse
                                ) | limitTo: itemsPerPage : (currentPage - 1) * itemsPerPage">
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="nodes_renderer">
                <ul class="mm_table_list" ui-tree-handle>
                    <!--<li class="col-md-2">
                                        <div ng-style="{'margin-left': 20*(depth()-1) + 'px'}" style="padding: 0 5px;">
                                            <a ng-click="editRma(item.OrderKey, 'rma');">{{ ::item.OrderReturnKey }}</a>
                                        </div>
                                    </li>-->
                    <li class="col-md-2">{{ item.type }}</li>
                    <li class="col-md-2" ng-click="open('Fucking sh!t')">
                        {{ item.author }}
                        <!--<button type="button" class="btn btn-info btn-xs rst" 
                            data-toggle="modal" 
                            ng-click="open('app/pages/shared/modalTemplates/alertModalTemplate.html')">Info Message</button>-->
                    </li>
                    <li class="col-md-2">{{ item.surname }}</li>
                    <li class="col-md-2">{{ item.header }}</li>
                    <li class="col-md-2">{{ item.text }}</li>
                    <li class="col-md-2">{{ item.time }}</li>

                </ul>

                <!--<div ng-if="item.eventOdds && item.eventOdds.length > 0 && expanded.hasOwnProperty(item.rmaId)"
                                     ng-show="expanded[item.rmaId]"
                                     ui-tree-nodes=""
                                     ng-model="item.eventOdds"
                                     style="background: white; ">
                                    <div ng-repeat="item in item.eventOdds"
                                         ui-tree-item
                                         ng-include="'nodes_renderer'"></div>
                                </div>-->

            </script>
        </div>

        <ad-paging total-item-no="filtered.length" current-page="currentPage" items-per-page="itemsPerPage"></ad-paging>

    </div>
</div>