<!--<dashboard-pie-chart></dashboard-pie-chart>-->
<div class="row">
    <div class="col-lg-12">
        <event-odds-histories></event-odds-histories>
    </div>
</div>
<div class="row">
    <!-- leagues -->
    <div class="col-xlg-2 col-lg-2 col-md-4 col-sm-12 col-xs-12" ba-panel ba-panel-title="Leagues" ba-panel-class="large-panel with-scroll feed-panel">
        <leagues></leagues>
    </div>
    <!-- ./ leagues -->
    <div class="col-xlg-10 col-lg-10 col-md-8 col-sm-12 col-xs-12" ba-panel ba-panel-title="Fucking Sh!t" ba-panel-class="large-panel with-scroll">
        <event-odds></event-odds>
    </div>
</div>