<div ng-show="pageCount > 0" class="row clearfix" style="margin:0px;">
    <ul class="pagination pagination-sm col-md-6">
        <li ng-class="prevPageDisabled()">
            <a href ng-click="firstPage()"> <i class="fa fa-angle-double-left"></i> </a>
        </li>
        <li ng-class="prevPageDisabled()">
            <a ng-click="prevPage()"> <i class="fa fa-angle-left"></i> </a>
        </li>
        <li ng-repeat="n in pageRanges" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
            <a>{{n}}</a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a ng-click="nextPage()"> <i class="fa fa-angle-right"></i> </a>
        </li>
        <li ng-class="nextPageDisabled()">
            <a ng-click="lastPage()"> <i class="fa fa-angle-double-right"></i> </a>
        </li>
    </ul>

    <div class="col-md-5" style="text-align: right;margin-top: 15px;font-size: 13px;">
        <strong>
            <!-- todo: only make page number with style <strong> -->
            <!--{{Util.format(LB_PAGINATION_SHOWING_PAGE, [currentPage, pageCount])}}-->
            Page:{{  [currentPage, pageCount]}}
        </strong>
    </div>

    <div class="col-md-1" style="padding:0px;">
        <div style="width: 75px;float:right;margin-top:8px;">
            <!--<select class="form-control" ng-model="itemsPerPage" 
                ng-options="item.value as item.label for item in itemsPerPageList" ng-change="setItemsPerPage(itemsPerPage)">
            </select>-->
            <select ng-options="i for i in [2,3,5,10,15,20,25]" class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="itemsPerPage">
            </select>
        </div>
    </div>
</div>