<div class="feed-messages-container">
    <div class="row">
        <div class="col-lg-12" ba-panel ba-panel-title="Realtime" >
            <epoch-live-line chart-class="category10" chart-height="200" chart-data="eventOddsHistoryChart.realtimeLine" chart-stream="eventOddsHistoryChart.realtimeLineFeed" chart-axes="eventOddsHistoryChart.areaAxes"></epoch-live-line>
        </div>
        <!--<div class="col-lg-6">
            <h4>Static Line <button class="button-primary" ng-click="charts.updateLine2()">Update Chart</button></h4>
            <epoch-line chart-height="charts.line2Height" chart-data="charts.lineData2" chart-axes="charts.line2Axes"></epoch-line>
        </div>-->
    </div>      
</div>

